{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
        <div class="row">
            <div class="page-title-container search-form">
                <form method="get" action="{% url 'biz.dashboard' %}" enctype="application/x-www-form-urlencoded">
                    <div class="input-group input-group-sm input-group-minimal">
                        <span class="input-group-addon">
                            <i class="linecons-search"></i>
                        </span>
                        <input type="text" class="form-control" name="q" placeholder="Search: Plate number, origin or email ..." value="{{ query }}">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <h1 class="title">Recent messages</h1>

        </div>
        <div class="row dashboard-page-content">
            <div class="panel panel-color panel-main">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3">
                            <span>PLATE</span>
                        </div>
                        <div class="col-md-3">
                            <span>ORIGIN</span>
                        </div>
                        <div class="col-md-3">
                            <span>EMAIL</span>
                        </div>
                        <div class="col-md-3">
                            <div class="pull-right">
                                    <span class="comment">
                                        <i class="fa fa-comments-o"></i>
                                    </span>
                                <span class="number">{{ total }}</span>
                                <span class="comment">TOTAL MESSAGES</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {% for vehicle in vehicles %}
                        <div class="plate-row ">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="plate">{{ vehicle.plate }}</span>
                                </div>
                                <div class="col-md-3">
                                    <span>{{ vehicle.formatted_address }}</span>
                                </div>
                                <div class="col-md-3">
                                    <span>{{ vehicle.secondary_email }}</span>
                                </div>
                                <div class="col-md-3">
                                    <div class="pull-right show-detail">

                                        <i class="fa fa-caret-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="plate-detail">
                                {% for message in messages %}
                                    {% if message.vehicle_id == vehicle.pk %}
                                    <div class="row">
                                        <span>{{ message.created_at }}</span>
                                        <span>{{ message.text }}</span>
                                        <div class="pull-right">
                                            <a href="/biz/delete_message/{{ message.pk }}/">
                                                <div class="btn btn-xs btn-danger" style="margin: 0;">DELETE</div>
                                            </a>&nbsp;&nbsp;
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row text-center">
                <button class="btn btn-load-more">MORE</button>
            </div>
        </div>
    </div>

{% endblock content %}
