{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="onboard-page">
        <div class="row">
            <div class="page-title-container">
                <h1>Fleeter - Welcome Onboard</h1>
                <span>Purchase slots to to add license plates <a href='#' class="">here</a></span>
            </div>
        </div>
        <ul class="cbp_tmtimeline">
            <li>
                <div class="cbp_tmicon active">
                    1
                </div>

                <div class="cbp_tmlabel empty">
                    <div class="timeline-item">
                        <div class="icon-container">
                            <i class="fa fa-building-o"></i>
                        </div>
                        <div class="title">
                            Let's get started!
                        </div>
                        <div class="description">
                            <p>Tell us about your company. Fill in the additional</p>
                            <p>details such as the address and number of locations <a href="#">here...</a></p>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="cbp_tmicon">
                    2
                </div>

                <div class="cbp_tmlabel empty">
                    <div class="timeline-item">
                        <div class="icon-container">
                            <i class="fa fa-shopping-basket"></i>
                        </div>
                        <div class="title">
                            Select License Plate Slots
                        </div>
                        <div class="description">
                            <p>Select <a href="#">License Plate Slots</a> required and make payment...
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="cbp_tmicon">
                    3
                </div>

                <div class="cbp_tmlabel empty">
                    <div class="timeline-item">
                        <div class="icon-container">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="title">
                            Add your fleet
                        </div>
                        <div class="description">
                            <p>Upload csv or manually enter plates and details <a href="#">here...</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock content %}
