{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if message %}
    <div class="{{ msgclass }}">
        {{ message }}
        <i class="fa fa-close"></i>
    </div>
    {% endif %}
    <div class="">
        <div class="row">
            <div class="page-title-container">
                <span>Add New Plate</span>
            </div>
        </div>
        <div class="row">
            <h1 class="title">Single License Plate View</h1>
            <div class="pull-right">
            </div>
        </div>
        <form role="form" action="{% url 'biz.plate.add' %}" method="post">
            <div class="row page-content">
                <div class="panel panel-default">
                    <div class="panel-body">

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="plate">PLATE</label>
                                    <input type="text" class="form-control" id="plate" placeholder="PLATE" name="plate"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="origin">ORIGIN</label>
                                    <select name="origin" class="form-control" required>
                                        {% for origin in origins %}
                                            <option value="{{ origin.name }}" {% if origin.name == plate.formatted_address %}selected{% endif %}>
                                            {{ origin.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">EMAIL</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="EMAIL" value="" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row btn-container">
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-success pull-right">SAVE</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
