{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if message %}
    <div class="{{ message_class }}">
        {{ message }}
        <i class="fa fa-check"></i>
    </div>
    {% endif %}
    <div class="">
        <div class="row">
            <div class="page-title-container">
                <span>Edit Plate</span>
            </div>
        </div>
        <div class="row">
            <h1 class="title">Single License Plate View</h1>
            <div class="pull-right">
                <button class="btn btn-default" onclick="location.href='{% url 'biz.plate.add' %}';">
                    <i class="fa fa-plus"></i>
                </button>
                <!-- <button class="btn btn-default">
                    <i class="fa fa-minus-circle"></i>
                </button> -->
            </div>
        </div>
        <form role="form" method="post">
            <div class="row page-content">
                <div class="user-profile-img-container">
                    <div class="plate-name">
                        {{ plate.plate }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="plate">PLATE</label>
                                    <input type="text" class="form-control" id="plate" placeholder="PLATE" name="plate"
                                           value="{{ plate.plate }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="origin">ORIGIN</label>
                                    <select name="origin" class="form-control">
                                        {% for origin in origins %}
                                            <option value="{{ origin.name }}" {% if origin.name == plate.formatted_address %}selected{% endif %}>
                                            {{ origin.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">EMAIL</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="EMAIL" value="{{ plate.secondary_email }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row btn-container">
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-success pull-right">SAVE</button>
                    <a href="/biz/plates/"><span class="btn btn-lg btn-danger pull-right">CANCEL</span></a>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
