{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="">
        <div class="row">
            <div class="page-title-container search-form">
                <form method="get" action="{% url 'biz.plates' %}">
                    <div class="input-group input-group-sm input-group-minimal">
                            <span class="input-group-addon">
                                <i class="linecons-search"></i>
                            </span>
                        <input type="text" class="form-control" name="q" value="{{ query }}"
                               placeholder="Search: Plate number, origin or email ...">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <h1 class="title">License Plate Database</h1>
            <div class="pull-right">
                <button class="btn btn-success" onclick="location.href='/biz/plates/upload/'">
                    CSV Upload
                </button>
                <button class="btn btn-success" onclick="location.href='{% url 'biz.plates.download' %}'">
                    Export CSV
                </button>
                <button class="btn btn-default" onclick="changeLayout('item')">
                    <i class="fa fa-th-large"></i>
                </button>
                <button class="btn btn-default" onclick="changeLayout('list')">
                    <i class="fa fa-th-list"></i>
                </button>
            </div>
        </div>
        <div class="row plates-page">
            <div class="plate-item-row">
                {% for plate in plates %}
                    <div class="plate-items col-md-6">
                        <div class="plate-item">
                            <div class="plate-name" onclick="location.href='/biz/plates/{{ plate.pk }}/';" style="cursor: pointer;">
                                {{ plate.plate }}
                            </div>
                            <div class="plate-item-detail-name">
                                <div class="name">{{ plate.plate }}</div>
                                <div>{{ plate.formatted_address }}</div>
                            </div>
                            <div class="plate-item-tail">
                                <a href="{% url 'biz.plates.delete' pk=plate.pk %}"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="plate-item-detail-origin">
                                {{ plate.secondary_email }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row text-center">
                <button class="btn btn-load-more" onclick="location.href='{% url 'biz.plates' %}';">MORE</button>
            </div>
        </div>
    </div>
{% endblock content %}

{% block custom_js %}
    <script type="text/javascript">
        (function ($) {
            $('.show-detail').click(function () {
                var plate_div = $(this).parent().parent().parent();
                if (plate_div.hasClass('opened')) {
                    plate_div.removeClass('opened');
                    $(this).find('i').eq(0).removeClass('fa-caret-down').addClass('fa-caret-right');
                } else {
                    plate_div.addClass('opened');
                    $(this).find('i').eq(0).removeClass('fa-caret-right').addClass('fa-caret-down');
                }
            });
        })($);

        function changeLayout(type) {
            if (type == 'list') {
                $('.plate-items').each(function () {
                    if ($(this).hasClass('col-md-6')) {
                        $(this).removeClass('col-md-6');
                    }
                });
            } else {
                $(".plate-items").each(function () {
                    if (!$(this).hasClass('col-md-6')) {
                        $(this).addClass('col-md-6');
                    }
                });
            }
        }
    </script>
{% endblock custom_js %}
