{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if message != '' %}
    <div class="alert alert-success">
        {{ message }}
        <i class="fa fa-close"></i>
    </div>
    {% endif %}
    <div class="">
        <div class="row">
            <div class="page-title-container">
                <span>You have {{ user.active_plates }} license plate slots reserved.</span>
            </div>
        </div>
        <div class="row">
            <h1 class="title">Import License Plate Database</h1>
        </div>
        <div class="row plate-upload-page">
            <div class="col-md-6 description">
                <div class="row">
                    <div class="header">
                            <span class="cloud-icon">
                                <i class="fa fa-cloud-download"></i>
                            </span>
                        <div class="template-link">
                            <a href="/static/fleeter/sample.xlsx">Download Excel Input Template</a>
                        </div>
                    </div>
                    <div class="content">
                        <p>Upload a CSV file to import a new plates directory. <b>&nbsp;CSV uploads
                            overwrite the current directory, so please ensure that your file
                            includes all plates.</b><br/><b class="color-red">Download existing list before uploading
                            new CSV</b></p>
                        <div>
                            <img src="{% static 'fleeter/upload_csv_exp.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 upload-controls">
                <form method="POST" action="{% url 'biz.plates.upload' %}" enctype="multipart/form-data" id="form_csv_upload">
                    {% csrf_token %}
                    <div class="content">
                        <div id="advancedDropzone" class="droppable-area dz-clickable" style="min-height: 200px;" onclick="changeFile()">
                            <i class="fa fa-cloud-upload"></i>
                        </div>
                        <input type="file" name="csv_file" style="display: none;" onchange="upload_csv()">
                        <div class="button-container">
                            <button class="btn btn-success" type="button" onclick="changeFile()">
                                UPLOAD CSV FILE
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row text-center" style="margin-top: 30px;">
                    <p>Before uploading your database, you must have</p>
                    <p>purchased license plate slots for your fleet.</p>
                    <p>Number of slots purchased = {{ user.active_plates }}</p>
                    <div class="button-container text-center">
                        <button class="btn btn-success" type="button" onclick="location.href='/biz/billing/';">
                            BUY SLOTS
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block custom_js %}
    <script type="text/javascript">
        function changeFile() {
            $('input[type="file"]').click();
        }

        function upload_csv() {
            document.getElementById("form_csv_upload").submit();
        }
    </script>
{% endblock custom_js %}
