Dear {{ display_name }},
<br><br>
Thank you for registering with Windshieldink Fleeter! Please activate your Fleeter account by clicking on the link below.
<br><br>
http://{{ server_addr }}/account/activate/?challenge={{ challenge }}
<br><br>
Sincerely,
<br><br>
Your Windshieldink Team
<br><br>
<div style="width: 100%; text-align: center;">
    Need Help? E-mail support@windshieldink.com<br/>
    <br/>
    Visit us at <a href="http://windshieldink.com">windshieldink.com</a>
</div>
