Dear {{ display_name }},<br>
<br/>
Thank you for activating your Fleeter account and becoming part of our global on-line community!<br/>
<br/>
Share your Windshieldink experience with others and stay informed of future enhancements by visiting our website at <a href="http://biz.windshieldink.com">biz.windshieldink.com</a><br/>
<br/>
Sincerely,<br/>
<br/>
Your <a href="http://windshieldink.com">Windshieldink</a> Team<br/>
<br/>
<br/>
<div style="width: 100%; text-align: center;">
Have questions, ideas, or just want to say hi?<br/>
<br/>
Email us at admin@windshieldink.com<br/>
</div>
