{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if message %}
        <div class="alert alert-success">
            {{ message }}
            <i class="fa fa-check"></i>
        </div>
    {% endif %}
    <div class="">
        <div class="row">
            <div class="page-title-container">
            </div>
        </div>
        <div class="row">
            <h1 class="title">PURCHASE LICENSE PLATE SLOTS</h1>
        </div>
        <div class="row billing-variable-page">
            <div class="col-md-6">
                <div class="checkout-form">
                    <div class="header">
                        <span>SELECT LICENSE PLATES SLOTS NEEDED</span>
                    </div>
                    <div class="content">
                        <form role="form">
                            <div class="form-group">
                                <label>NUMBER OF PLATES SLOTS REQUIRED</label>
                                <input type="number" class="form-control plates" placeholder=""
                                       onkeyup="changePrice();" id="number_plates">
                            </div>
                            <div class="row">
                                <div class="pull-right">
                                    <span>(Prices in Canadian dollars)</span>
                                </div>
                            </div>
                            <div class="">
                                <div class="price-line">
                                    <label>COST PER PLATE PER MONTH</label>
                                    <div class="pull-right">
                                        <span class="dollar">$</span>
                                        <span class="price-number" id="cost_per_plate">0.00</span>
                                    </div>
                                </div>
                                <div class="price-line">
                                    <label>COST PER PLATE PER YEAR</label>
                                    <div class="pull-right">
                                        <span class="dollar">$</span>
                                        <span class="price-number" id="cost_per_plate_year">0.00</span>
                                    </div>
                                </div>
                                <div class="price-line">
                                    <label>FLEET COST PER MONTH</label>
                                    <div class="pull-right">
                                        <span class="dollar">$</span>
                                        <span class="price-number" id="month_price">0.00</span>
                                    </div>
                                </div>
                                <div class="price-line">
                                    <label>TAX</label>
                                    <div style="display: inline-block;width: 148px;margin-left: 10px;">
                                        <select class="form-control" id="tax_id" onchange="changePrice()">
                                            {% for tax in taxes %}
                                                <option value="{{ tax.id }}">{{ tax.province }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div style="display: inline-block;width: 85px;margin-left: 5px;">
                                        <input type="text" id="tax_type" disabled="disabled" value="" class="form-control" style="width: 100%;">
                                    </div>
                                    <div style="display: inline-block;width: 70px;margin-left: 5px;">
                                        <input type="text" id="tax_percent" disabled="disabled" value="0.00%" class="form-control" style="width: 100%;">
                                    </div>
                                    <div class="pull-right">
                                        <span class="dollar">$</span>
                                        <span class="price-number" id="tax_price">0.00</span>
                                    </div>
                                </div>

                                <div class="price-line">
                                    <label>TOTAL COST PER MONTH (incl tax)</label>
                                    <div class="pull-right">
                                        <span class="dollar">$</span>
                                        <span class="price-number" id="total_price">0.00</span>
                                    </div>
                                </div>
                                <div class="price-line">
                                    <label>
                                        <input type="checkbox" class="cbr" onchange="checkCheckoutButton(this);">
                                        I accept <a target="_blank" href="http://biz.windshieldink.com/commercial-terms"><span style="color: #40bbea">Commercial Terms</span></a> & <a target="_blank" href="http://biz.windshieldink.com/commercial-terms"><span style="color: #40bbea">Privacy Policy</span></a>
                                    </label>
                                    <p>
                                        Your credit card payment is made using the Stripe payment system (stripe.com).
                                        Windshieldink does not store any of your personal credit card information on our site.

                                    </p>
                                    <p>
                                        You can cancel your account anytime in your Manager Profile.
                                    </p>
                                    <p>
                                        There are no refunds for cancelled or adjusted subscriptions.
                                    </p>
                                </div>
                                <div class="button-line">
                                    <div class="pull-right">
                                        <button class="btn btn-success checkout" type="button" disabled="disabled">
                                            CHECK OUT <i class="fa fa-shopping-basket"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="help">
                </div>
            </div>
        </div>
    </div>
    <form class="stripeForm" action="{% url 'subscribe_ajax' %}" method="POST">
        {% csrf_token %}
        <input name="stripe_token" type="hidden"/>
        <input name="plan_name" type="hidden" value="Fleeter Subscription">
        <input name="plan_id" type="hidden" value="">
        <input name="description" type="hidden" value="Fleet monthly subscription">
        <input name="price" type="hidden" value="">
        <input name="plates" type="hidden" value="">
        <input name="tax_id" type="hidden" value="">
    </form>

    {% include "pages/payments/modals/progress.html" with header="Processing Payment" sub_header="This shouldn't take more than a minute..." %}

    {% include "pages/payments/modals/success.html" with header="Payment Successful!" success_message="You are being redirected to upload plates page..." %}

    {% include "pages/payments/modals/error.html" with sub_header="Your card was not charged." retry_label="Retry Payment" %}
{% endblock content %}

{% block custom_js %}
    <script src="//checkout.stripe.com/v2/checkout.js"></script>
    <script src="{% static 'fleeter/js/eldarion-ajax.min.js' %}"></script>
    <script type="text/javascript">
        function checkCheckoutButton(obj) {
            var number_plates = document.getElementById('number_plates');
            if (number_plates.value && number_plates.value * 1 > 0 && obj.checked == true) {
                $('.checkout').removeAttr('disabled');
            } else {
                $('.checkout').attr('disabled', 'disabled');
            }
        }
        function changePrice() {
            var obj = document.getElementById('number_plates');
            var tax_id = document.getElementById('tax_id');
            window.setTimeout(function () {
                $.ajax({
                    url: '/biz/formula/',
                    method: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        plates: obj.value,
                        tax_id: tax_id.value
                    },
                    success: function (response) {
                        $('#cost_per_plate').html(response.per_plate);
                        $('#cost_per_plate_year').html(response.per_year);
                        $('#month_price').html(response.per_month);
                        $('#total_price').html(response.total);
                        $('#tax_type').val(response.tax_type);
                        $('#tax_percent').val(response.tax_rate + '%');
                        $('#tax_price').html(response.tax_price);

                        $('input[name="plan_id"]').val('Fleet_' + obj.value);
                        $('input[name="price"]').val(response.total);
                        $('input[name="plates"]').val(obj.value);
                        $('input[name="tax_id"]').val(tax_id.value);
                    }
                });
            }, 100);
        }

        function formatNumber(num) {
            return parseFloat(num).toFixed(2);
        }

        function doCheckout() {

        }

        $(function () {

            var $activeButton = null;
            var $errorModal = $('#errorModal');
            var $successModal = $('#successModal');
            var $progressModal = $('#progressModal');

            $('#retryButton').click(function () {
                $errorModal.modal('hide');
                if ($activeButton !== null) {
                    $activeButton.trigger('click');
                }
            });

            $('.checkout').click(function (event) {
                $activeButton = $(this);
                $stripeForm = $('.stripeForm');

                var token = function (res) {
                    $progressModal.modal('show');
                    $stripeForm.find("input[name=stripe_token]").val(res.id);
                    $stripeForm.submit();
                };

                var amount = $stripeForm.find('input[name="price"]').val();
                var plan_name = $stripeForm.find('input[name="plan_name"]').val();
                var description = $stripeForm.find('input[name="description"]').val();

                StripeCheckout.open({
                    key: '{{ STRIPE_PUBLIC_KEY }}',
                    address: false,
                    amount: amount * 100,
                    currency: 'cad',
                    name: plan_name,
                    description: description,
                    panelLabel: 'Fleet Subscription ' + document.getElementById('number_plates').value,
                    token: token
                });

                return false;
            });

            $('.stripeForm').submit(function (event) {
                event.preventDefault();
                var values = $(this).serialize();

                $.ajax({
                    url: $(this).attr('action'),
                    type: "post",
                    data: values,
                    success: function (data) {
                        $progressModal.modal('hide');
                        $successModal.modal('show');
                        setTimeout(function () {
                            window.location = '/biz/plates/upload/';
                        }, 2000);
                    },
                    error: function (data) {
                        var str = JSON.parse(data.responseText);
                        $progressModal.modal('hide');
                        $errorModal.modal('show');
                        $('#errorMsg').text(str);
                    }
                });
            });

        });
    </script>
{% endblock custom_js %}
