{% load static %}

<nav class="navbar user-info-navbar" role="navigation"><!-- User Info, Notifications and Menu Bar -->
    <ol class="breadcrumb bc-1">
        <li>
            <a href="#">FLEETER Dashboard</a>
        </li>
    </ol>

    <!-- Right links for user info navbar -->
    <ul class="user-info-menu right-links list-inline list-unstyled">
        {% if user.is_authenticated %}
            <li class="dropdown user-profile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span>
                    {{ user.display_name }}
                    <p>{{ user.email }}</p>
                </span>

                    <img src="{{ user.avatar.url }}" alt="user-image"
                         class="img-circle img-inline userpic-32"
                         width="28"/>
                </a>

                <ul class="dropdown-menu user-profile-menu list-unstyled">
                    <li class="last">
                        <a href="{% url 'fleeter.logout' %}">
                            <i class="fa-lock"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>

            <!-- <li>
                <a href="#" data-toggle="chat">
                    <i class="fa-bell-o"></i>
                </a>
            </li> --!>
        {% else %}
            <button class="btn btn-success" onclick="location.href='{% url 'fleeter.login' %}';"
                    style="margin-top: 10px; margin-right: 10px;">
                LOG IN
            </button>
            <button class="btn btn-success" onclick="location.href='{% url 'fleeter.user.signup' %}';"
                    style="margin-top: 10px; margin-right: 10px;">
                CREATE ACCOUNT
            </button>
        {% endif %}
    </ul>

</nav>
