{% load static %}
{% load staticfiles %}

<div class="sidebar-menu toggle-others fixed">
    <div class="sidebar-menu-inner">
        <header class="logo-env">
            <div class="user-info">
                <div class="user-image">
                    <a href="/">
                        {% if user.is_authenticated and user.company and user.company.logo %}
                            <img src="{{ user.company.logo.url }}" class="img-responsive img-circle logo-img"/>
                        {% else %}
                            <div style="padding-top: 30px;"></div>
                        {% endif %}
                    </a>
                </div>
                <div class="user-details">
                </div>
            </div>
            <h1 class="text-center">
                <img src="{% static 'fleeter/images/wi_fleeter_logo_main_white.png' %}" style="width: 160px;">
            </h1>
        </header>
        <ul id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li {% if page == 'index' %}class="active opened active"{% endif %}>
                <a href="{% url 'biz.dashboard' %}">
                    <span class="title">Messages</span>
                </a>
            </li>
            <li {% if page == 'plates' %}class="active opened active"{% endif %}>
                <a href="{% url 'biz.plates' %}">
                    <span class="title">License Plates</span>
                </a>
            </li>
            <li {% if page == 'company' %}class="active opened active"{% endif %}>
                <a href="{% url 'biz.company' %}">
                    <span class="title">Company Info</span>
                </a>
            </li>

            <li class="last {% if page == 'settings' %}active opened active{% endif %}" >
                <a href="{% url 'fleeter.user.profile' %}">
                    <span class="title">Manager Profile</span>
                </a>
            </li>
        </ul>

        <ul class="panel-info">
            <li class="info-title">
                <span>
                    COMPANY NUMBER
                </span>
            </li>
            <li class="detail">
                {% if user.company and user.company.biz_id %}
                    {{ user.company.biz_id }}
                {% endif %}
            </li>
            <li class="info-title">
                <span>
                    DATE MODIFIED
                </span>
            </li>
            <li class="detail">
                {% if user.subscribed %}
                    {{ user.subscribed_at }}
                {% else %}
                    {{ user.formatted_created }}
                {% endif %}
            </li>
            <li class="info-title">
                <span>
                    PLAN
                </span>
            </li>
            <li class="detail">
                {% if user.subscribed %}
                    {{ user.customer.current_subscription.plan }}
                {% else %}
                    Not yet subscribed
                {% endif %}
            </li>
            <li class="progress-container">
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-warning" role="progressbar"
                         aria-valuenow="{{ user.used_plates }}"
                         aria-valuemin="0"
                         aria-valuemax="{{ user.active_plates }}"
                         style="width: {{ user.used_percent }}%">
                        <span class="sr-only">{{ user.used_percent }}% Complete (success)</span>
                    </div>
                </div>
            </li>
            <li class="detail">
                Number of License Plates = {{ user.used_plates }}
            </li>
            <li class="detail">
                Number of License Slots = {{ user.active_plates }}
            </li>
            <li class="detail">
                Remaining License Slots = {{ user.remaining_slots }}
            </li>
            <li class="info-title">
                <a href="{% url 'biz.company.billing' %}"><button class="btn btn-success">BUY SLOTS</button></a>
            </li>
            <li class="info-company">
                Powered by Windshieldink
            </li>
        </ul>

        <ul class="info-help">
            <li>
                <i class="glyphicon glyphicon-question-sign"></i>
                <span>
                    Help
                </span>
            </li>
            <li>
                <span class="email" onclick="location.href='mailto:support@windshieldink.com';" style="cursor: pointer;">
                    support@windshieldink.com
                </span>
            </li>
        </ul>
    </div>

</div>
