{% extends 'base.html' %}
{% load static %}
{% block sidebar %}{% endblock %}
{% block navbar %}
    {% include 'include/navbar_login.html' %}
{% endblock navbar %}
{% block content %}
    {% if message %}
        <div class="row text-center">
            <span class="alert alert-{{ msg_class }}">{{ message }}</span>
        </div>
    {% endif %}
    <div class="login-page">
        <div class="row ">
            <div class="login-logo-container">
                <img class="img-login-logo" src="/static/fleeter/images/wi_fleeter_logo_main.png" style="width: 360px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="login-form">
                    <div class="panel panel-color panel-main">
                        <div class="panel-heading">
                            Log In to Fleeter
                        </div>
                        <div class="panel-body">
                            <form role="form" action="{% url 'fleeter.login' %}" method="POST">
                                {% csrf_token %}
                                {% if error %}
                                    <div class="alert alert-danger" style="margin: 10px;">{{ error }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="email-1">EMAIL ADDRESS</label>
                                    <input type="email" class="form-control" id="email" name="username"
                                           placeholder="Enter your email&hellip;">
                                </div>

                                <div class="form-group">
                                    <label for="password-1">PASSWORD</label>
                                    <input type="password" class="form-control" id="password-1" name="password"
                                           placeholder="Enter your password">
                                </div>

                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="cbr">
                                        Stay logged in
                                    </label>
                                    <button type="submit" class="btn btn-lg btn-success pull-right">
                                        LOG IN
                                        &nbsp;
                                        <i class="fa fa-lock"></i>
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="text-center">
                    <a href="#">Forgot your password ?</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock content %}
