{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="">
        <div class="row">
            <div class="page-title-container">
                <span>Choose the plan and take advantage of the premium features</span>
            </div>
        </div>
        <div class="row">
            <h1 class="title">Choose pricing plan</h1>
        </div>
        <div class="row billing-page">
            <div class="col-md-4">
                <div class="price_table">
                    <div class="title">BASIC</div>
                    <div class="price">
                        <div class="col-md-4 text-right">
                            <span class="dollar">$</span>
                        </div>
                        <div class="col-md-4">
                            <span class="price-number">25</span>
                        </div>
                        <div class="col-md-4 text-left">
                            <span class="price-plan">/month</span>
                        </div>
                    </div>
                    <div class="bill-desc">
                        $25 billed annually
                    </div>
                    <div class="bill-detail">
                        <div class="name">
                            Basic includes
                        </div>
                        <div>All of these great features:</div>
                    </div>
                    <div class="price-features">
                        <ul>
                            <li>
                                <p>X # Of plates Ennui sriracha heirloom chambray, twee bespoke whatever ramps
                                    chia</p>
                            </li>
                            <li>
                                <p>Sustainable occupy beard intelligentsia umami banh mi.</p>
                            </li>
                            <li>
                                <p>Crucifix kombucha XOXO venmo, meditation you probably haven't heard of them</p>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <button class="btn btn-default disabled">
                            CURRENT PLAN
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_table">
                    <div class="popular">POPULAR</div>
                    <div class="title">STANDARD</div>
                    <div class="price">
                        <div class="col-md-4 text-right">
                            <span class="dollar">$</span>
                        </div>
                        <div class="col-md-4">
                            <span class="price-number">125</span>
                        </div>
                        <div class="col-md-4 text-left">
                            <span class="price-plan">/month</span>
                        </div>
                    </div>
                    <div class="bill-desc">
                        $125 billed annually
                    </div>
                    <div class="bill-detail">
                        <div class="name">
                            Standard includes
                        </div>
                        <div>All of these great features:</div>
                    </div>
                    <div class="price-features">
                        <ul>
                            <li>
                                <p>Ennui sriracha heirloom chambray,
                                    twee bespoke whatever ramps chia</p>
                            </li>
                            <li>
                                <p>Sustainable occupy beard
                                    intelligentsia umami banh mi.</p>
                            </li>
                            <li>
                                <p>Crucifix kombucha XOXO venmo,
                                    meditation you probably haven't
                                    heard of them</p>
                            </li>
                            <li>
                                <p>Portland pickled irony, pop-up
                                    church-key scenester 3 wolf moon</p>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <button class="btn btn-success">
                            UPGRADE NOW
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price_table">
                    <div class="title">ENTERPRISE</div>
                    <div class="price">
                        <div class="col-md-4 text-right">
                            <span class="dollar">$</span>
                        </div>
                        <div class="col-md-4">
                            <span class="price-number">335</span>
                        </div>
                        <div class="col-md-4 text-left">
                            <span class="price-plan">/month</span>
                        </div>
                    </div>
                    <div class="bill-desc">
                        $335 billed annually
                    </div>
                    <div class="bill-detail">
                        <div class="name">
                            Enterprise includes
                        </div>
                        <div>All of these great features:</div>
                    </div>
                    <div class="price-features">
                        <ul>
                            <li>
                                <p>Ennui sriracha heirloom chambray,
                                    twee bespoke whatever ramps chia</p>
                            </li>
                            <li>
                                <p>Sustainable occupy beard
                                    intelligentsia umami banh mi.</p>
                            </li>
                            <li>
                                <p>Crucifix kombucha XOXO venmo,
                                    meditation you probably haven't
                                    heard of them</p>
                            </li>
                            <li>
                                <p>Portland pickled irony, pop-up
                                    church-key scenester 3 wolf moon</p>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <button class="btn btn-success">
                            UPGRADE NOW
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block custom_js %}
    <script src="//checkout.stripe.com/v2/checkout.js"></script>
{% endblock custom_js %}
