{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if message != '' %}
        <div class="{{ message_class }}">
            {{ message }}
            <i class="{{ message_icon }}"></i>
        </div>
    {% endif %}
    <form method="POST" action="{% url 'fleeter.user.profile' %}">
        {% csrf_token %}
        <div class="row">
            <div class="page-title-container">
                <span>Edit and update Manager Profile</span>
            </div>
        </div>
        <div class="row">
            <h1 class="title">Manager Profile</h1>
        </div>
        <div class="row page-content">
            <div class="user-profile-img-container" onclick="selectAvatarFile()">
                <img class="img-circle" src="{{ user.avatar.url }}" id="avatar_image">
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fullname">FULL NAME </label>
                                <input type="text" class="form-control" id="fullname" placeholder="Full name"
                                       name="display_name"
                                       value="{{ user.display_name }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email">EMAIL ADDRESS</label>
                                <input type="email" class="form-control" id="email" placeholder="Email address"
                                       name="email"
                                       value="{{ user.email }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="phone">YOUR PHONE NUMBER</label>
                                <input type="text" class="form-control" id="phone" name="phone_number"
                                       placeholder="Phone Number" value="{{ user.phone_number }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="password">CURRENT PASSWORD</label>
                                <input type="password" class="form-control" id="password" placeholder="Password"
                                       name="current_pwd">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="new_password">NEW PASSWORD</label>
                                <input type="password" class="form-control" id="new_password" name="new_pwd"
                                       placeholder="New Password">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="conf_password">NEW PASSWORD CONFIRMATION</label>
                                <input type="password" class="form-control" id="conf_password" name="conf_pwd"
                                       placeholder="Confirm New Password">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row btn-container">
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success pull-right">SAVE</button>
                {% if user.subscribed %}
                    <button type="button" class="btn btn-lg btn-danger pull-right" onclick="checkConfirm()">CANCEL
                        SUBSCRIPTION
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
    <form enctype="multipart/form-data" id="upload_avatar_form" method="POST" action="{% url 'fleeter.user.avatar' %}">
        {% csrf_token %}
        <input type="file" name="image" id="file_avatar" style="display: none;"
               onchange="document.getElementById('upload_avatar_form').submit();">
    </form>
{% endblock content %}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'fleeter/js/bootbox.min.js' %}"></script>
    <script type="text/javascript">
        function selectAvatarFile() {
            $("#file_avatar").click();
        }

        function checkConfirm() {
            bootbox.dialog({
                message: "Cancelling your subscription will clear your licence plate database and clear your plate slots already purchased.",
                title: "Warning",
                buttons: {
                    success: {
                        label: "Confirm Cancel Your Subscription",
                        className: "btn-danger",
                        callback: function () {
                            location.href = '{% url 'cancel_subscribe' %}';
                        }
                    },
                    main: {
                        label: "Go Back",
                        className: "btn-success",
                        callback: function () {

                        }
                    }
                }
            });

        }
    </script>
{% endblock custom_js %}
