{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block sidebar %}{% endblock %}

{% block navbar %}
    {% include 'include/navbar_login.html' %}
{% endblock navbar %}

{% block content %}
    {% if message %}
        <div class="row text-center">
            <span class="alert alert-{{ msg_class }}">{{ message }}</span>
        </div>
    {% endif %}
    <div class="login-page">
        <div class="row ">
            <div class="login-logo-container">
                <img class="img-login-logo" src="/static/fleeter/images/wi_fleeter_logo_main.png" style="width: 360px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="login-form">
                    <div class="panel panel-color panel-main">
                        <div class="panel-heading">
                            Create a Fleeter Account
                        </div>
                        <div class="panel-body">
                            <form role="form" action="{% url 'fleeter.user.signup' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="fullname">YOUR FULL NAME</label>
                                    <input type="text" class="form-control" name="display_name" id="display_name"
                                           placeholder="Full name" onkeyup="checkPassword()">
                                </div>

                                <div class="form-group">
                                    <label for="email">YOUR WORK EMAIL</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="Email address" onkeyup="checkPassword()">
                                </div>

                                <div class="form-group">
                                    <label for="password">CHOOSE PASSWORD</label>
                                    <input type="password" class="form-control" id="password1" name="password1"
                                           placeholder="Choose Password" onkeyup="checkPassword()">
                                </div>

                                <div class="form-group">
                                    <label for="conf_password">VERIFY PASSWORD</label>
                                    <input type="password" class="form-control" id="password2" name="password2"
                                           placeholder="Verify Password" onkeyup="checkPassword()">
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-lg btn-success" disabled="disabled">
                                        CREATE YOUR ACCOUNT
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="text-center">
                    <a href="#">Forgot your password ?</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        function checkPassword() {
            if ($('#password1').val() && $('#password1').val() != '' && $('#password1').val() == $('#password2').val()) {
                $('button[type="submit"]').removeAttr('disabled');
            } else {
                $('button[type="submit"]').attr('disabled', 'disabled');
            }
        }
    </script>
{% endblock custom_js %}
