{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form method="POST" action="{% url 'biz.company' %}">
        <div class="row">
            <div class="page-title-container">
                <span>Tell us about your workplace</span>
            </div>
        </div>
        <div class="row">
            <h1 class="title">Company Info</h1>
        </div>
        <div class="row page-content company-page">
            <div class="user-profile-img-container">
                {% if user.company and user.company.logo %}
                    <img class="img-circle" src="{{ user.company.logo.url }}">
                {% else %}
                    <img class="img-circle" src="/static/fleeter/images/wi_fleeter_logo_main.png">
                {% endif %}
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row col-md-12">
                        <div class="pull-right">
                            <h2>WSI Business Number: {{ user.company.biz_id }}</h2>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group">
                            <label>Required Field</label><span class="required-star">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="company_name">COMPANY NAME </label>
                                <input type="text" class="form-control" id="company_name" name="name"
                                       placeholder=""
                                       value="{% if company.name %}{{ company.name }}{% endif %}"
                                       required>
                                <span class="required">*</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="company_email">COMPANY EMAIL</label>
                                <input type="email" class="form-control" id="company_email" name="email"
                                       placeholder=""
                                       value="{% if company.email %}{{ company.email }}{% endif %}"
                                       required>
                                <span class="required">*</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="company_phone">HQ PHONE</label>
                                <input type="text" class="form-control" id="company_phone" name="hq_phone"
                                       placeholder=""
                                       value="{% if company.hq_phone %}{{ company.hq_phone }}{% endif %}"
                                       required>
                                <span class="required">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="company_address">HQ ADDRESS</label>
                                <input type="text" class="form-control" id="company_address" name="hq_address"
                                       placeholder=""
                                       value="{% if company.hq_address %}{{ company.hq_address }}{% endif %}"
                                       required>
                                <span class="required">*</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="company_phone">CITY, PROVINCE, COUNTRY</label>
                                <input id="autocomplete"
                                       class="form-control"
                                       name="formatted_address"
                                       placeholder=""
                                       value="{% if company.formatted_address %}{{ company.formatted_address }}{% endif %}"
                                       onFocus="geolocate()" type="text">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="postal_code">POSTAL CODE</label>
                                <input type="text" name="postal_code" class="form-control" id="postal_code"
                                       value="{% if company.postal_code %}{{ company.postal_code }}{% endif %}"
                                       placeholder="" required>
                                <span class="required">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="po_number">COMPANY INTERNAL P.O. NUMBER</label>
                                <input type="text" class="form-control" id="po_number" name="po_number"
                                       value="{% if company.po_number %}{{ company.po_number }}{% endif %}"
                                       placeholder="" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="vendor_num">VENDOR NUMBER (INTERNAL)</label>
                                <input type="text" class="form-control" name="vendor_number" id="vendor_number"
                                       value="{% if company.vendor_number %}{{ company.vendor_number }}{% endif %}"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="col-md-12 row upload-form">
                        <div class="form-group">
                            <label>COMPANY LOGO</label>
                            <div class="col-md-12 form-container">
                                <div>
                                    <div id="advancedDropzone" class="droppable-area dz-clickable"
                                         onclick="changeLogo()"
                                         style="min-height: 200px;">
                                        <i class="fa fa-plus"></i>
                                        {% if user.company.logo %}
                                            <img src="{{ user.company.logo.url }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="description">
                                    <p>We recommend uploading a 600 x 600 px size logo. </p>
                                    <div class="btn-container">
                                        <span class="btn btn-success" onclick="changeLogo()">CHOOSE FILE</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row btn-container">
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success pull-right">SAVE</button>
                <button type="button" class="btn btn-lg btn-danger pull-right">CANCEL</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
    <form style="display: none" enctype="multipart/form-data" method="post" id="logo_form"
          action="{% url 'biz.company.logo' %}">
        {% csrf_token %}
        <input type="file" name="image" onchange="document.getElementById('logo_form').submit();">
    </form>
{% endblock %}

{% block custom_js %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW_20dLWaKHdRLIq_VYa0gtMWDc0byn8Q&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script type="text/javascript">
        var autocomplete;
        (function ($) {
            $(document).ready(function () {
                // ChangeCountry($('select[name="country"]').eq(0).get(0));

                // initAutocomplete();
            });
        })($);

        function ChangeCountry(obj) {
            $('#province').find('option').remove();
            $.ajax({
                url: '/biz/province/?country=' + obj.value,
                method: 'GET',
                csrfmiddleware: "{{ csrf_token }}",
                success: function (response) {
                    for (var i = 0; i < response.data.length; i++) {
                        if (response.data[i] == '{{ company.province }}') {
                            $('#province').append("<option value='" + response.data[i] + "' selected>" + response.data[i] + "</option>");
                        } else {
                            $('#province').append("<option value='" + response.data[i] + "'>" + response.data[i] + "</option>");
                        }
                    }
                }
            });
        }

        function changeLogo() {
            $('input[type="file"]').click();
        }

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                    {types: ['geocode']});

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
            var place = autocomplete.getPlace();
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (addressType == 'postal_code') {
                    var val = place.address_components[i]['short_name'];
                    document.getElementById('postal_code').value = val;
                }
            }
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }
    </script>
{% endblock custom_js %}
